


.signUpNav {
    display: flex;
    justify-content: space-between;
    align-items: center;                       /* Overall navbar formatting */
    padding: 10px 20px;
    background-color: grey;
}

.signUpWebLinks {
    list-style: none;                         /* Spacing, sizing, and formatting of weblinks in navbar */
    display: flex;
    gap: 30px;
}

.signUpWebLinks li a {
    color: #1E3C72;
    text-decoration: none;
    font-size: 20px;                         /* Customization of webpage links font */
    font-weight: bold;
}

.signUpWebLinks li a:hover {
    color: #1E3C90;                          /* Dynamic hover feature for users and professionalism */
}





