


.toolsNavBar {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px 30px;
    display: flex;                               /* nav bar transparency, sizing, organization*/
    justify-content: space-between;
    align-items: center;
}

.toolsNavContent {
    display: flex;
    justify-content: space-between;  /* spacing and alignment of webpage links */
    align-items: center;
    width: 100%;
}

.toolsNavLinks {
    list-style: none;     /* spacing between, formatting, and one dimensional */
    display: flex;
    gap: 30px;
}

.toolsNavLinks li {
    font-size: 18px;         /* link font size */
}

.toolsNavLinks {
    color: white;
    text-decoration: none;
    font-weight: bold;            /* webpage links button design and dynamic transition timing */
    font-size: 18px;
    text-transform: uppercase;
    transition: color 0.3s;
}

.toolsNavLinks:hover {
    color: #FFD700;             /* dynamic color change after transition */
}

.userLogoutButton {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;                   /* logout button design, formatting, transition, and curvature*/
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.userLogoutButton:hover {
    background-color: #CC0000;        /* logout button color change for dynamic design */
}
