/* This web page is to format and style the login webpages navbar */


.loginNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;                                 /* Spacing, sizing, background color, and organization of the nav bar on this page*/
    background-color: rgba(0, 0, 0, 0.3);
}

.loginWebLinks {
    list-style: none;
    display: flex;                                    /* Formats, sizes, and spaces the web links to other webpages*/
    gap: 30px;
}

.loginWebLinks li a {
    color: rebeccapurple;
    text-decoration: none;                           /* font size, color, weight, */
    font-size: 20px;
    font-weight: bold;
}

.loginWebLinks li a:hover {                         /* Simple dynamic feature for when user hovers over weblinks */
    color: mediumpurple;
}

.loginCTA {
    background-color: rebeccapurple;
    color: ghostwhite;
    border: none;                                /* loginpage cta button formatting and styling */
    border-radius: 8px;
    font-size: 20px;
    padding: 12px 24px;
}

.loginCTA:hover {
    background-color: mediumpurple;             /* Simple dynamic feature for when user hovers over weblinks */
}