/* This is the css file that formats and designs the look of the Home Page, some parts are yet to be added */

.homeBanner {
    background-image: url("../images/landingBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    padding: 0 20px;
    color: white;                                                 {/* Adds jpg background, adjusts size to full page, center aligned*/}
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    overflow-x: hidden;
}


.headliner {
    text-align: center;                                       {/* Aligns header and buttons ot be centered with a distance in the margin */}
    margin-top: 20px;
}

.headliner h1 {
    font-size: 48px;
    color: white;                         {/* Sets the font size to a larger size, and makes the text pop by adding a shadow with black outline*/}
    text-shadow: 2px 2px 8px #000;
}

.frontButtons {
    margin-top: 20px;
    display: flex;
    justify-content: center;                          /* Buttons are spaced and centered in the headliner */
    gap: 20px;
}

.frontButtons button {
    background-color: darkolivegreen;
    color: ghostwhite;
    border: 2px solid #333;
    padding: 15px 40px;
    font-size: 24px;                                /* Button size, Custom color of button, curved edges, custom font, bolded font, font color, and transition timing into shading*/
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 9px;
    transition: all 0.5s ease;
}

.frontButtons button:hover {
    background-color: #333333;
    color: #f0f0f0;                                /* Dynamic color shading of the front buttons to a grey when user hovers to click*/
}

.homeContentPictures {
    display: flex;
    justify-content: center;
    align-items: center;                            /* Displays, spaces, and formats the picture and video sections of the home page*/
    flex-wrap: wrap;
    gap: 500px;
    margin: 40px auto;
}

.homePicSlide, .videoTutorial {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);                    /* Sets the size of their respective sections while making the section transparent for photos and video to pop, curvature as well*/
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.homePicSlide img, .videoTutorial img {
    width: 100%;                                     /* Sizing and curvature of images and video*/
    border-radius: 10px;
}

.userContent {
    display: flex;
    flex-wrap: wrap;                                      /* Basic placing and spacing for the users content sections*/
    justify-content: space-around;
    margin-top: 50px;
}

.ourServices, .userBenefits, .tryMe {
    width: 20%;
    margin: 10px;
    padding: 20px;                                          /* Spacing, curvature, transparency, and sizing for the three content sections*/
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.tryMe form {
    display: flex;                                           /*Formatting for the entire TryMe form*/
    flex-direction: column;
}

.tryMe form label {
    margin-bottom: 15px;                                      /* Formatting for label which needs to be adjusted for professionalism */
}

.tryMe input[type="number"], .tryMe input [type="text"] {
    margin-left: 10px;
    padding: 5px;                                              /* Formatting and styling for the text boxes in TryMe section*/
    margin-top: 5px;
    color: black;
}

.tryMe button {
    margin-top: auto;
    padding: 10px;
    background-color: #4CAF50;                           /* calculate button base color as well as curvature, spacing, and font color*/
    color: whitesmoke;
    border: none;
}

.tryMe button:hover {
    background-color: #45A000;                          /* Hover pseudo class for the calculate button to change color when user is hovered*/
}

.homePrev, .homeNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);                      /* Transparency around buttons for slider, positioning, font color, and moves buttons upwards */
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    border: none;
    padding: 15px;
}

.homePrev {
    left: 18.5%;
    border-radius: 5px;                       /* Positioning of button and curvature */
}

.homeNext {
    right: 60.25%;
    border-radius: 5px;                    /* Positioning of button and curvature */
}
