/* This is the Login Webpages style and formatting code */


body {
    margin: 0;
    padding: 0;                          /* Formats the whole web page */
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
}


.loginBox {
    background-image: url("../images/coors.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;                                  /* embeds background image as well as formats the whole loginBox, headers, and font styling */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rebeccapurple;
}

.loginBox h1 {
    font-size: 95px;
    margin-bottom: 100px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.4);           /* Welcome Back! header coloring, formatting, and customization*/
    color: whitesmoke;
    border-radius: 5px;
    width: fit-content;
}

.loginForm h2 {
    font-size: 65px;
    margin-bottom: 100px;
    font-weight: bolder;
    color: rebeccapurple;                       /* Login here! header coloring, formatting, and customization */
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

.loginForm {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 85px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);             /* Styling and formatting of the login pages form */
    width: 500px;
    text-align: center;
}

.loginForm label {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 12px;
    text-align: left;
    background-color: darkgray;                            /* Styling and formatting of username and password prompt labels */
    border-radius: 5px;
    font-weight: bolder;
}

.loginForm input {
    width: 58%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid white;                         /* Input box styling and formatting */
    border-radius: 7px;
    font-size: 17px;
    font-weight: bold;
}

.loginButton {
    padding: 15px;
    font-size: 65px;
    background-color: rebeccapurple;
    color: whitesmoke;
    border-radius: 8px;
    border: none;                                   /* Login button styling and formatting */
    width: 100%;
    text-transform: uppercase;
    font-weight: bolder;
}

.loginButton:hover {
    background-color: purple;                     /* Simple dynamic feature for color change when user hovers the login button */
}